/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

section {
	border: 1px solid #333;
	min-height: 100px;
}

#container {
	display: grid;
	width: 89.5%;
	margin: 0 auto;
	grid-template-columns: repeat(4, 1fr);
	
	column-gap: 2%;
	row-gap: 20px;

}